.gigCard{
    width: 310px;
    height: 100%;
    margin-bottom: 40px;
    border: 1px solid rgb(239,238,238);

    img{
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .info{
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .user{
            display: flex;
            gap: 10px;
            align-items: center;

            img{
                width: 26px;
                height: 26px;
                border-radius: 50%;
                object-fit: cover;
                
            }
        }
        p{
            color: #111;
        }

        .star{
            display: flex;
            gap: 5px;
            align-items: center;

            img{
                width: 14px;
                height: 14px;            
            }

            span{
                font-size: 14px;
                font-weight: bold;
                color: #ffc108;
            }
        }
    }

    hr{
        border: 0.5px solid rgb(236, 236, 236);
        height: 0;
        
    }
    .details{
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{
            width: 16px;
            height: 16px;
            cursor: pointer;
            object-fit: cover;
        }

        .price{
            span{
                color: #999;
                font-size: 12px;
            }
            h2{
                color: #555;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}